// Custom styles.
.katex-display .katex-html {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

ul {
    padding-inline-start: 20px;
}

// Make bullet items block close to preceded paragraph
p + ul {
    margin-top: -1em;
}
